<div class="contentDiv">
    <div class="imgDiv">
        <img [src]="details[0].restaurant_thumb" alt="snacks"/>
    </div>
    <div class="content">
        <h1>{{details[0].restaurant_name}}</h1>
        <i class="fa-regular fa-star checked"></i>
        <i class="fa-regular fa-star checked"></i>
        <i class="fa-regular fa-star checked"></i>
        <i class="fa-regular fa-star-half checked"></i>
        <span>231 Customers Rating</span>
        <h3><del>Old Price: 790</del></h3>
        <h3>New Price: {{details[0].cost}}</h3>
        <h3>Best Taste of Fresh Chai with Samosa At your Door or DineIn</h3>
        <p>{{details[0].address}}</p>
        <div class="feature_container">
            <div class="feature">
                <img src="https://i.ibb.co/wJvrhYg/veg.png" alt="veg" class="fetIcon"/>
                <p>Pure Veg</p>
            </div>
            <div class="feature">
                <img src="https://i.ibb.co/mD3jpgc/sentizied.png" alt="veg" class="fetIcon"/>
                <p>Fully Senatized</p>
            </div>
            <div class="feature">
                <img src="https://i.ibb.co/kHrm3Mh/delivery.png" alt="veg" class="fetIcon"/>
                <p>Free Delivery</p>
            </div>
        </div>
        <h2>Available</h2>
        <button class="btn">Add To Cart</button>
        <a [routerLink] = "['/order']" class="btn">Checkout</a>
    </div>
</div>