<div class="content">
    <div class="filter">
        <h3>Filters</h3>
        <hr/>
        <div class="mealFilter">
            <app-cuisine-filter [filterName]="filterText" (cuisineClicked)="dataReceive($event)"></app-cuisine-filter>
        </div>
        <hr/>
        <div class="costFilter">
            <h3>Cost Filter</h3>
            <div>
                <input type="checkbox"/>100-300
            </div>
            <div>
                <input type="checkbox"/>300-500
            </div>
            <div>
                <input type="checkbox"/>500-1000
            </div>
        </div>
        <hr/>
    </div>
   
    <div *ngIf="restaurants && restaurants.length; else noData">
        
        <div class="tiles">
            <div class="search">
                <div class="form-group">
                    <input class="form-control" placeholder="Enter Restaurants Name"
                    [(ngModel)]="userInput"/>
                </div>
                <p>You are searching for restaurants {{userInput}}</p>
                <p>Number of result is: {{ (restaurants | searchFilter:userInput).length}}</p>
            </div>
            <div class="cardContainer" *ngFor="let rest of restaurants | searchFilter:userInput">
                <div class="component1">
                    <img [src]='rest.restaurant_thumb' alt="snacks"/>
                    <button class="btn">
                        <a [routerLink]="['/details']" [queryParams]="{restId: rest.restaurant_id}">Proceed</a>
                    </button>
                </div>
                <div class="component2">
                    <h2>{{rest.restaurant_name}}</h2>
                    <p>{{rest.address}}</p>
                    <p>Rating: {{rest.average_rating}} star</p>
                    <p>Cost: Rs {{rest.cost}}/2 person</p>
                    <div>
                        <span *ngFor="let mType of rest.mealTypes" class="pills">{{mType.mealtype_name}}</span> &nbsp;
                    </div>
                    <br/>
                    <div>
                        <span *ngFor="let cType of rest.cuisines" class="pills pills2">{{cType.cuisine_name}}</span> &nbsp;
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noData>
        <h1>Loading</h1>
        <img src='../../assets/image/loader.gif'/>
    </ng-template>
</div>