<div id="search">
    <div id="logo">
        <span>E!</span>
    </div>
    <div id="heading">
        Find The Best Restaurants Near You
    </div>
    <div class="dropdown">
        <select>
            <option>----SELECT YOUR CITY-----</option>
            <option>Delhi</option>
            <option>Mumbai</option>
        </select>
        <select class="restSelect">
            <option>----SELECT YOUR Restaurants-----</option>
            <option>Ama Cafe</option>
            <option>Hotel Taj</option>
        </select>
    </div>
</div>