<div id="search">
    <div id="logo">
        <span>E!</span>
    </div>
    <div id="heading">
        {{title}}
    </div>
    <div class="dropdown">
        <select (change)="handleCity($event)">
            <option value="default">----SELECT YOUR CITY-----</option>
            <option *ngFor="let loc of locations" [value]="loc.state_id">
                    {{loc.state}}
            </option>
        </select>
        <select class="restSelect">
            <option>----SELECT YOUR Restaurants-----</option>
            <option>Ama Cafe</option>
            <option>Hotel Taj</option>
        </select>
    </div>
</div>

   <!--<input type="text" [value]="textVal"/>
        <img src=""/>
    
    <option value="1">Delhi</option>
    <option value="2">Mumbai</option>
    -->